.list_style {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px); /* Ширина для відображення по три в ряд */
  flex-shrink: 0; /* Заборона зменшення контактів */
}

.container_style {
  display: flex;
  flex-direction: column; /* Відображення елементів в стовпці */
}

.icon_style {
  margin-right: 10px;
}

.button_style {
  margin-top: auto; /* Вирівнювання кнопки внизу блоку */
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.list-item {
  display: flex;

  background-color: #f0f0f0;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Відстань між рядками */
}
